<main class="add-friends">
    <section class="add-friends-wrapper">
        <ion-list>
            <ion-item>
                <span class="name">Nevil George</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Jon Rovira</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Akshat Thirani</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Phil House</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Faique Moquet</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Alex Kaldjian</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Michael Weston</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Mark Fishman</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Pete Huang</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Ryan Madden</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Alex Hollenbeck</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Chris Dayal</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Chris Howard</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Nathan Shiferaw</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
            <ion-item
                <span class="name">Doug Brennan</span>
                <i class="ionicons ion-person-add"></i>
            </ion-item>
        </ion-list>
    </section>
</main>