<ion-view title="Login">
    <section class="login-wrapper">
        <h1>Login</h1>
    	<div class="list list-inset">
    		<label class="item item-input">
    			<input type="tel" ng-model="number" placeholder="Phone #" />
    		</label>
    		<label class="item item-input">
    			<input type="password" ng-model="password" placeholder="Password" />
    		</label>
    		<button class="button button-small" on-tap="submitLogin()">
    			Login
    		</button>
    	</div>
    </section>
</ion-view>