<ion-view title="Register">
    <section class="register-wrapper">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First name" />
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last name" />
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="Phone number" />
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" />
            </label>
            <label class="item item-input">
                <input type="password" placeholder="One more time" />
            </label>
            <button class="button button-small" on-tap="submitRegister()">
                Submit
            </button>
        </div>
    </section>
</ion-view>