<ion-view title="Tabs">
	<section class="tabs-wrapper">
		<ion-tabs class="tabs-positive">

			<ion-tab title="GROUPS">
				<div class="tabs-groups">
					<div class="left">
						<ul>
							<li>Soccer</li>
							<li>Sigma Chi</li>
							<li class="active">Rage</li>
							<li>Hacker</li>
							<li>Home</li>
							<li>Gym</li>
						</ul>
					</div>
					<div class="right">
						<div class="group">
							<h1 class="group-name">Rage</h1>
							<ul class="group-people">
								<li>
									<i class="user-icon ionicons ion-ios7-person-outline"></i>
									<h5>Akshat Thirani</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<i class="user-icon ionicons ion-ios7-person-outline"></i>
									<h5>Phil House</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<i class="user-icon ionicons ion-ios7-person-outline"></i>
									<h5>Jon Rovira</h5>
									<i class="notdown downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<i class="user-icon ionicons ion-ios7-person-outline"></i>
									<h5>Joris Manzi</h5>
									<i class="notdown downness ionicons ion-ios7-circle-filled"></i>
								</li>
							</ul>
							<button class="imdown button">I'm Down</button>
						</div>
					</div>
				</div>
			</ion-tab>

			<ion-tab title="DOWN"></ion-tab>

		</ion-tabs>
	</section>
</ion-view>