<ion-view title="Tabs">
	<section class="tabs-wrapper">
		<ion-tabs class="tabs-positive">

			<ion-tab title="GROUPS">
				<div class="tabs-groups">
					<div class="left">
						<ul>
							<li>All Friends</li>
							<li>Soccer</li>
							<li>Sigma Chi</li>
							<li class="active">Rage</li>
							<li>Hacker</li>
							<li>Home</li>
							<li>Gym</li>
						</ul>
						<button class="add-group">
							<i class="ionicons ion-ios7-plus-empty"></i>
						</button>
					</div>
					<div class="right">
						<div class="group">
							<h1 class="group-name">Rage</h1>
							<h5 class="group-edit"><i class="ionicons ion-edit"></i></h5>
							<ul class="group-people">
								<li>
									<i class="user-icon ionicons ion-ios7-person"></i>
									<h5>Akshat Thirani</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<i class="user-icon ionicons ion-ios7-person"></i>
									<h5>Phil House</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<i class="user-icon ionicons ion-ios7-person"></i>
									<h5>Jon Rovira</h5>
									<i class="notdown downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<i class="user-icon ionicons ion-ios7-person"></i>
									<h5>Joris Manzi</h5>
									<i class="notdown downness ionicons ion-ios7-circle-filled"></i>
								</li>
							</ul>
							<button class="imdown">Down</button>
						</div>
					</div>
				</div>
			</ion-tab>

			<ion-tab title="FRIENDS">
				<div class="tabs-friends">
					<div class="friends-container">
						<ion-scroll>
							<ul>
								<li>
									<div class="friend-circle">AT</div>
									<h5>Akshat Thirani</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">PH</div>
									<h5>Phil House</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">JR</div>
									<h5>Jon Rovira</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">JM</div>
									<h5>Joris Manzi</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">NG</div>
									<h5>Nevil George</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">FM</div>
									<h5>Faique Moqeet</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">AK</div>
									<h5>Alex Kaldjian</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">AK</div>
									<h5>Chris Howard</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">AK</div>
									<h5>Lupe Gomez</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">AK</div>
									<h5>Chris Dayal</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
								<li>
									<div class="friend-circle">AK</div>
									<h5>Cody Schiffer</h5>
									<i class="down downness ionicons ion-ios7-circle-filled"></i>
								</li>
							</ul>
						</ion-scroll>
					</div>
				</div>
			</ion-tab>

		</ion-tabs>
	</section>
</ion-view>